<h1>Bloggin' It</h1>

<%= link_to 'New Post', new_post_path %>

<% @posts.each do |post| %>
	<div class="post" id="<%= dom_id(post) %>">
		<h2><%= link_to post.title, post_path(post) %></h2>
	</div>
<% end %>