<h1>Shop</h1>

<% @products.each do |product| %>
	<%= image_tag product.photo.url(:medium) %><br>
	<h4><%= link_to product.name, product_path(product) %></h4>
	<p><%= product.price %></p>
	<%= link_to 'Delete', product_path(product), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>